doctype html
head
  meta(charset='utf-8')
  meta(content='width=device-width, initial-scale=1.0' name='viewport')
  title Login Modal
  meta(content='' name='description')
  meta(content='' name='keywords')
  link(href='/vendor/bootstrap/css/bootstrap.min.css' rel='stylesheet')
  link(href='/vendor/bootstrap-icons/bootstrap-icons.css' rel='stylesheet')
  link(href='https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css' rel='stylesheet' type='text/css')
  script(src='https://cdn.jsdelivr.net/npm/simple-datatables@latest' type='text/javascript')
  link(rel='stylesheet' href='/css/style.css')
  link(rel='stylesheet' href='/css/index.css')
  script(src='https://code.jquery.com/jquery-3.6.0.js')
  script.
    $(document).ready(function () {
    $("#fullscreenModal").modal("show");
    });
#fullscreenModal.modal.fade(tabindex='-1')
  .modal-dialog.modal-fullscreen
    .modal-content
      .modal-header.welcm(style='height: 50px')
        h5.modal-title.titlez User Login
        button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
      .modal-body.loginBod
        main
          .container
            section.section.register.min-vh-100.d-flex.flex-column.align-items-center.justify-content-center.py-4
              .container
                .row.justify-content-center
                  .col-lg-4.col-md-6.d-flex.flex-column.align-items-center.justify-content-center
                    .d-flex.justify-content-center.pb-1
                      a.logo.d-flex.align-items-center.w-auto(href='#')
                        span.d-none.d-lg-block.text-nowrap(style='\
                        font-family: algerian;\
                        color: rgb(59, 60, 81);\
                        ') Karibu Groceries Ltd.
                    .card.mb-3
                      .card-body.purp.pb-4
                        .pt-2.pb-2
                          h5.card-title.text-center.pt-2.pb-0.fs-4(style='\
                          color: rgba(249, 231, 209, 0.854);\
                          font-family: algerian;\
                          ')
                            | Login to Your Account
                          p.text-center.small(style='color: rgba(249, 231, 209, 0.854)')
                            | Enter your username &amp; password to login
                        form.row.g-3.needs-validation(name='userlogin')
                          .col-12
                            label.form-label.mb-0(for='yourUsername' style='color: rgba(249, 231, 209, 0.854)') Username
                            .input-group.has-validation
                              span#inputGroupPrepend.input-group-text @
                              input#yourUsername.form-control(placeholder='Username / Email' type='text' name='username' required)
                              .invalid-feedback
                                | Please enter your username.
                          .col-12
                            label.form-label.mb-0(for='yourPassword' style='color: rgba(249, 231, 209, 0.854)') Password
                            input#yourPassword.form-control(placeholder='Password' type='password' name='password' required)
                            .invalid-feedback
                              | Please enter your password!
                          .col-12
                            label.form-label.mb-0(for='authorizationSelect' style='color: rgba(249, 231, 209, 0.854)') Authorization
                            select#authorizationSelect.form-select(name='authorization' onblur='userAuthorLogin()' aria-label='authorization' required)
                              option(selected='' disabled='' value='') Select Authorization:
                              option(value='1') Director
                              option(value='2') Manager
                              option(value='3') Sales Agent
                          .col-12
                            .form-check
                              input#rememberMe.form-check-input(type='checkbox' name='remember' value='true')
                              label.form-check-label(for='rememberMe' style='color: rgba(249, 231, 209, 0.854)') Remember me
                          .col-12
                            button.btn.btn-dark.w-100.mt-1(type='submit' href='./index.html')
                              | Login
                          .col-12
                            p.small.mb-0.pt-2(style='\
                            color: rgba(249, 231, 209, 0.854);\
                            text-align: center;\
                            ')
                              | Don&apos;t have account?
                              a(href='../login+registration/registerModal.html' style='\
                              color: rgba(249, 231, 209, 0.854);\
                              text-decoration: underline 1px solid\
                              rgba(249, 231, 209, 0.854);\
                              ') Create an account
      .modal-footer.welcm(style='justify-content: center; height: 50px')
        p.titlez Copyright 2022 &copy; Dev&apos;d By Dom
script(src='/vendor/bootstrap/js/bootstrap.bundle.min.js')
script(src='/vendor/simple-datatables/simple-datatables.js')
script(src='/js/main.js')
script(src='/js/index.js')
